.base {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  canvas {
    position: relative;
    border-radius: 5px;
    overflow: hidden;

    background: #e2e8f0;
    box-shadow: 0 0 0 2px #000, 0 10px 20px -5px rgba(0, 0, 0, 0.5);
  }
}
