input:not([type]),
input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  min-width: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
